<form [formGroup]="machineForm" (ngSubmit)="submit(machineForm.value)">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="machineCode"><i>*</i>注塑机编号：</label>
            <div class="col-sm-6">
                <input type="text" name="machineCode" class="form-control" formControlName="machineCode" placeholder="注塑机编号">
            </div>
            <label class="form-control-label col-sm-3 text-danger pl-0">
                {{formErrors.machineCode}}
            </label>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="machineName"><i>*</i>注塑机名称：</label>
            <div class="col-sm-6">
                <input type="text" name="machineName" class="form-control" formControlName="machineName" placeholder="注塑机名称">
            </div>
            <label class="form-control-label col-sm-3 text-danger pl-0 ">
                {{formErrors.machineName}}
            </label>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="machineType"><i>*</i>注塑机类型：</label>
            <div class="col-sm-6">
                <input type="text" name="machineType" class="form-control" formControlName="machineType" placeholder="注塑机类型">
            </div>
            <label class="form-control-label col-sm-3 text-danger pl-0">
                {{formErrors.machineType}}
            </label>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="moniterId"><i>*</i>采集器编号：</label>
            <div class="col-sm-6">
                <input type="text" name="moniterId" class="form-control" formControlName="moniterId" placeholder="采集器编号" (keyup)="moniterIdKeyup($event)">
            </div>
            <label *ngIf="formBlurCheckErrors.moniterId||formErrors.moniterId" class="form-control-label col-sm-3 text-danger pl-0 ">
                {{formBlurCheckErrors.moniterId||formErrors.moniterId}}
            </label>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="outFactoryPerson">出厂调试人员：</label>
            <div class="col-sm-6">
                <input type="text" name="outFactoryPerson" class="form-control" formControlName="outFactoryPerson" placeholder="出厂调试人员">
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="outFactoryDate"><i>*</i>出厂日期：</label>
            <div class="col-sm-6">
                <input type="date" name="outFactoryDate" class="form-control" formControlName="outFactoryDate" placeholder="出厂日期">
            </div>
            <label class="form-control-label col-sm-3 text-danger pl-0 ">
                {{formErrors.outFactoryDate}}
            </label>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="proxyCompany"><i>*</i>代理公司：</label>
            <div class="col-sm-6">
                <select class="form-control" name="proxyCompany" formControlName="proxyCompany">
          <option *ngFor="let company of proxyCompanys" [value]="company.id">{{company.name}}</option>
        </select>
            </div>
            <label class="form-control-label col-sm-3 text-danger pl-0 ">
                {{formErrors.proxyCompany}}
            </label>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="area"><i>*</i>所属片区：</label>
            <div class="col-sm-6">
                <select class="form-control" name="area" formControlName="area">
          <option *ngFor="let area of areas" [value]="area.id">{{area.name}}</option>
        </select>
            </div>
            <label class="form-control-label col-sm-3 pl-0 ">
                {{formErrors.area}}
            </label>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="gpsInfo">GPS信息：</label>
            <div class="col-sm-4 pr-0">
                <input type="text" name="gpsInfo" class="form-control" formControlName="gpsInfo" placeholder="GPS信息">
            </div>
            <div class="col-sm-2 pl-0">
                <a target="_blank" href="http://api.map.baidu.com/lbsapi/getpoint/index.html" class="btn btn-primary">拾取</a>
            </div>
            <label class="form-control-label col-sm-3 text-danger pl-0 ">
            
            </label>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="type"><i>*</i>类型：</label>
            <div class="col-sm-6">
                <select class="form-control" name="type" formControlName="type">
                    <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
                </select>
            </div>
            <label class="form-control-label col-sm-3 text-danger pl-0 ">
                {{formErrors.type}}
            </label>
        </div>
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="remark">备注信息：</label>
            <div class="col-sm-6">
                <input type="text" name="remark" class="form-control" formControlName="remark" placeholder="备注">
            </div>
            <label class="form-control-label col-sm-3 text-danger pl-0 ">
            
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-sm btn-primary" [disabled]="!this.machineForm.valid" value="提交">
    </div>
</form>