.module-table{
    width:100%;
    margin:0 auto;
    margin-top:0.5rem;
    //height:500px;
    background-color:#EFF3F8;
    .module-table-header{
      padding:0.5rem 1rem;
      line-height:3rem;
      p{
        display:inline-block;
        select{
          width:4rem;
          margin:0 5px;
        } 
      }
      div{
        float:right;
        input{
          width:140px;
          margin-left:0.5rem;
          line-height:1.5rem;
        }
      }
    }
    table{
      background-color:#fff;
      width:100%;
      margin-bottom:0px;
      thead{
        background:linear-gradient(to bottom, #fcfcfc 20%, #eee 100%);
        td{
          cursor:pointer;
          font-size:1.2rem;
          font-weight:bold;
          color:#307ecc;
          text-indent:0.5rem;
          line-height:2rem;
          button.btn-default{
             border-radius:0px;
             line-height:1rem;
             background-color:#abbac3;
             color:#fff;
          }
          i{
             float:right;
             margin-top:6px;
          }
          i.fa-sort-desc,i.fa-sort-asc{
            display:none;
          }
        }
      }
      tbody{
        i{
          font-size:1.4rem;
          margin:0 5px;
          cursor:pointer;
          vertical-align:middle;
        }
        i.fa-cloud-upload{
          color:#69aa46;
        }
        i.fa-qrcode{
          color:#a069c3;
        }
        i.fa-pencil{
          color:#478fca;
        }
        i.fa-trash{
          color:#dd5a43;
        }
        i.fa-power-off{
          color:#dd5a43;
        }
        i.green{
          color:#69aa46!important;
        }
        i.fa-repeat{
          color:#ff892a;
        }
        i.fa-cogs{
          color:#a069c3;
        }
        i.fa-user{
          color:#ff892a;
        }
        i.fa-cogs{
          color:#ff892a;
        }
        i.fa-usd{
          color:#a069c3;
        }
      }
    }
    .module-table-footer{
      padding:0.5rem 1rem;
      font-size:1.2rem;
      line-height:3rem;
      p{
        display:inline-block;
        span{
          margin:0px 5px;
        }
      }
      .btn-group{
        float:right;
        button{
          border-color:#ccc;
          color:#2283c5;
          border-radius:0px;
          font-size:1rem;
        }
        button.btn-select{
          background-color:#6faed9;
          color:#fff;
        }
      }
    }
  }