//login
.login_view {
    width: 100%;
    min-height: 100%;
    padding-top: 250px;
    background: url('/assets/images/est_1680_944.jpg') no-repeat;
    background-size: 100% 100%;
    .login_bg {
        width: 40%;
        margin: 0 auto;
        height: auto;
        img {
            width: 100%;
        }
        .login_form {
            padding-left: 30%;
            padding-top: 5rem;
            ul {
                li {
                    height: 60px;
                    font-size: 1.8rem;
                    color: #fff;
                    line-height: 60px;
                    div {
                        margin-top: 10px;
                        line-height: 40px;
                        border-bottom: 1px solid #ccc;
                        span {
                            color: #fff;
                            font-weight: bold;
                        }
                        input {
                            line-height: 2rem;
                            margin-left: 1rem;
                            background-color: transparent;
                            border-width: 0px;
                        }
                    }
                    input[type="checkbox"] {
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                        margin-right: 1rem;
                        border: 1px solid #ddd;
                        vertical-align: middle;
                    }
                }
            }
            button {
                color: #fff;
                font-size: 1.4rem;
                width: 180px;
                height: 56px;
                background: linear-gradient(to bottom, #16b6ff 5%, #128dff 100%);
                float: right;
            }
        }
    }
    .login_register {        
        position: absolute;
        bottom: 0;
        right: 0;
        background: #fff;
    }
}

