<form [formGroup]="factoryForm" (ngSubmit)="submit(factoryForm.value)">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="form-control-label text-right col-sm-3" for="factory"><i>*</i>塑料厂：</label>
            <div class="col-sm-6">
                <select type="text" name="factory" class="form-control" formControlName="factory">
                  <option value="">无</option>  
                  <option *ngFor="let factory of factorys" [value]="factory.id">{{factory.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-sm btn-primary" value="提交">
    </div>
</form>