.row{
  margin:0;
}
//远程通讯
.communicate{
  .row{
    padding:1rem 1.5rem 0rem;
    .choose_address{
      border:1px solid #ccc;
      border-radius:5px;
      height:300px;
      padding:1.5rem;
      button{
        border-radius:0px;
      }
      ul{
        margin-top:2rem;
        li{
          text-align:center;
          line-height:4rem;
          font-size:0px;
          margin:1rem 0rem;
          font{
            font-size:1rem;
            vertical-align:middle;
          }
          input.form-control{
            width:300px;
            display:inline-block;
            vertical-align:middle;
            border-radius:0px;
          }
          input.form_length{
            width:390px;
          }
          button{
            width:90px;
            display:inline-block;
          }
        }
      }
      .send_button{
        border-top:1px solid #ccc;
        background-color:#eff3f8;
        padding:1.2rem 0;
        text-align:right;
        margin-top:3rem;
        button{
          margin-right:2rem;;
        }
      }
    }
    .show_Message{
      border:1px solid #ccc;
      border-radius:5px;
      height:300px;
      padding:0.5rem;
      textarea{
        width:100%;
        height:100%;
        resize:resize;
        padding:1rem;
        color:#999;
        text-indent:0;
      }
    }
    .selectAddress{
      display:none;
      position:absolute;
      z-index:10;
      background-color:rgba(40,40,40,0.5);
      top:0;
      left:0;
    }
  }
}
//停机
.shutDown{
  .row{
    padding:1rem 1.5rem 0rem;
    .alert{
      font-size:1.3rem;
    }
    .shutDown_form{
      border:1px solid #ccc;
      border-radius:5px;
      height:auto;
      font-size:0px;
      padding:2rem;
      .stopMachine{
        ul{
          width:50%;
          font-size:1.2rem;
          display:inline-block;
          li{
            text-align:left;
            line-height:3.5rem;
            label{
              width:30%;
              font-weight:100;
              text-align:right;
            }
            input{
              width:50%;
              line-height:2.5rem;
              margin-left:0.5rem;
              text-indent:0.5rem;
            }
            input#hour,input#minute{
              width:10%;
              margin-right:0.5rem;
            }
            select{
              width:50%;
              line-height:2.5rem;
              height:2.5rem;
            }
            select.stop{
              background-color:#ededed;
            }
            i{
              margin-left:0.5rem;
              color:#ff0000;
              display:none;
            }
          }
        }
      }
      .openMachine{
        text-align:center;
        ul{
          width:50%;
          font-size:1.2rem;
          display:inline-block;
          li{
            text-align:left;
            line-height:3.5rem;
            input{
              width:50%;
              line-height:2.5rem;
              margin-left:0.5rem;
              text-indent:0.5rem;
            }
            label{
              width:30%;
              font-weight:100;
              text-align:right;
            }
          }
        }
      }
    }
    .shutDown_button{
      border-top:1px solid #ccc;
      background-color:#eff3f8;
      padding:1.2rem 0;
      text-align:right;
      margin-top:1rem;
      button{
        border-radius:0px;
        margin-right:2rem;
      }
    }
  }
}
//参数信息
.paramMessage{
  overflow-y:auto;
  .row{
    padding:1rem 1.5rem 0rem;
    .alert{
      padding:1rem;
      strong{
        font-size:2rem;
        font-weight:100;
      }
      button{
        float:right;
      }
    }
    .machine_param{
      .row{
        //padding:0rem;
        [class*="col-"] {
          padding-left: 0; 
        }
      }
      box-shadow:0px 0px 5px #444;
      padding:2rem;
      table{
        border-top:1px #ccc solid;
        font-size:1rem;        margin-bottom:10px;
        thead{
          font-weight:bold;
          color:#000;
          line-height:2rem;
          td{
            line-height:2rem;
            span{
              background:linear-gradient(to right,#209def 10%,#2c84ef 100%);
              display:inline-block;
              position:relative;
              color:#fff;
              padding:0 1.5rem 0 0.5rem;
              line-height:2rem;
              text-align:left;
              white-space:nowrap;
            }
            span:before{
              content:"";
              display:inline-block;
              position:absolute;
              border-width:6px;
              border-style:solid;
              border-color:transparent transparent #fff #fff;
              transform:rotate(180deg);
              top:0;
              right:0;
            }
            span:after{
              content:"";
              display:inline-block;
              position:absolute;
              border-width:6px;
              border-style:solid;
              border-color:transparent transparent #fff #fff;
              transform:rotate(270deg);
              bottom:-1px;
              right:0;
            }
          }
        }
      }
      table.openModuel{
        td{
          padding:8px 4px;
        }
      }
    }
    .machine_set{
      margin-top:1rem;
      box-shadow:0px 0px 5px #444;
      padding:2rem;
      margin-bottom:1rem;
      table{
        span{
          background-color:#1b8fda;
          display:inline-block;
          position:relative;
          color:#fff;
          padding:0 1.5rem 0 0.5rem;
          line-height:2rem;
          text-align:left;
        }
        span:before{
          content:"";
          display:inline-block;
          position:absolute;
          border-width:6px;
          border-style:solid;
          border-color:transparent transparent #fff #fff;
          transform:rotate(180deg);
          top:0;
          right:0;
        }
      }
    }
  }
}
//生产数据
.produceData{
  .row{
    padding:1rem 1.5rem 0rem;
    .col-md-9{
      padding:0px;
    }
  }
}
//实时温度
.timelyTemperature{
  .row{
    padding:1rem 1.5rem 0rem;
    .temperatrue{
      border:1px solid #ccc;
      border-radius:5px;
      //height:500px;
      overflow:hidden;
      padding:1rem;
      .current_temperature{
        h4{
          color:#1b8fda;
        }
        ul{
          li{
            line-height:2.5rem;
            border-bottom:0.5px dashed #ccc;
            span{
              display:inline-block;
              width:60%;
              text-align:right;
              color:#667E99;
            }
          }
        }
      }
      .temperatrue_record{
      }
    }
    .temperatrue_table{
      margin-top:1rem;
      border:1px solid #ccc;
      border-radius:5px;
      padding:1rem;
      #temperatrue_table{
        height:400px;
      }
    }
  }
}
//润滑信息
.smoothMessage{
  .row{
    padding:1rem 1.5rem 0rem;
    .smoothMessage_content{
      border:1px solid #ccc;
      border-radius:5px;
      padding:1rem;
      .smoothMessage_searchTime{
        margin:0 1rem;
        background-color:#f5f5f5;
        padding:19px;
        box-shadow:inset 0 1px 1px #ccc;
        button{
          border-radius:0px;
        }
        input{
          width:150px;
          border:1px solid #ddd;
          margin:5px;
        }
      }
      .smoothMessage_table{
        margin:0 1rem;
      }
    }
  }
}